$raleway: "Raleway";
$nunito: "Nunito Sans";

$color-white: #ffffff;
$color-surface: #f5f7ff;
$color-border: #dfe4f1;

$color-text-primary: #0f172a;
$color-text-muted: #6b7280;

$color-brand-primary: #3673ff;
$color-brand-secondary: #be98ff;

$color-success: #22c55e;
$color-warning: #f97316;
$color-error: #f87171;
