$blue-color: #004cff;
$purple: #7c3aed;
$light-blue-color: #e5ebfc;
$white-color: #ffffff;
$white-other-color: #f3f3f3;
$white-gray-color: #e2e8f0;
$light-gray-color: #475569;
$white-blue-color: #94a3b8;
$white-color-opacity__80: rgba(255, 255, 255, 0.8);
$black-color: #202020;
$orange-color: #f87171;
$raleway: "Raleway";
$nunito: "Nunito Sans";
