@import "./variables";

@media (max-width: 500px) {
  .choose-university {
    padding: 20px;
    display: flex;
    gap: 26px;
    flex-direction: column;

    &__header {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      &-left {
        display: flex;
        gap: 20px;
        align-items: center;

        &-question-div {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.16);
          background: transparent;
          outline: none;
          border: 4px solid $white-color;
          padding: 0;
          cursor: pointer;
        }

        &-question {
          transform: translateY(2px);
        }

        &-title {
          font-family: $raleway;
          font-style: normal;
          font-weight: 700;
          font-size: 21px;
          line-height: 30px;
          letter-spacing: -0.21px;
          color: $black-color;
        }
      }

      &-settings-div {
        background-color: $light-blue-color;
        width: 35px;
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
      }
    }

    &__universities {
      display: flex;
      flex-direction: column;

      &-university {
        display: flex;
        align-items: center;
        flex-direction: row;

        &-logo__div {
          width: 80px;
          border-radius: 9px;
          align-items: center;
          display: flex;
          justify-content: center;
          box-shadow: 0 5px 10px rgb(0, 0, 0, 0.102);
          height: 80px;
        }

        &-title {
          margin-left: 10px;
          flex: 1;
          font-family: $raleway;
          font-family: "Raleway";
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 18px;
          letter-spacing: -0.14px;

          color: $black-color;
          min-width: 0;
        }

        &-choose {
          margin-left: auto;
          flex-wrap: 0 0 auto;
          white-space: nowrap;
          font-family: $raleway;

          border: none;
          outline: none;
          padding: 5px 15px;
          border-radius: 9px;
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 20px;
          text-align: center;
          letter-spacing: -0.16px;

          color: $white-color;

          background-color: $blue-color;

          &:disabled {
            opacity: 0.6;
          }
        }
      }
    }
  }
}
