@import "./variables";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $nunito;
}

@import "./start-screen.scss";
@import "./app-shell.scss";
@import "./choose-university.scss";
@import "./schedule-screen.scss";
